.superior {
    background-color: red;
    text-align: end;
}

.superior .socialMedia {
    background-color: aqua;
    justify-content: space-between;
    height: auto;
    width:auto;
    align-items: end;
    text-align: end;
}